<ion-card>
  <ion-card-header>
    <ion-card-title>Geolocation</ion-card-title>
  </ion-card-header>

  <ion-list>
    <ion-item>
      <ion-label  color="secondary">Aktuelle Position</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Breitengrad</ion-label>
      {{ latitude }}
    </ion-item>
    <ion-item>
      <ion-label>Längengrad</ion-label>
      {{ longitude }}
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item>
      <ion-label color="secondary">Mein Zuhause</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Breite (Zuhause)</ion-label>
      {{ homeLatitude }}
    </ion-item>
    <ion-item>
      <ion-label>Länge (Zuhause)</ion-label>
      {{ homeLongitude }}
    </ion-item>
    
  </ion-list>

  <ion-button fill="clear" (click)="getCurrentPosition()">Standort abfragen</ion-button>
  <ion-button fill="clear" (click)="resetPosition()">Reset</ion-button>
</ion-card>
