<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-list>
  <!--<ion-item [button]="true" (click)="create(list)">+</ion-item>-->
  <ion-item-group *ngFor="let list of lists">
    <ion-item-divider *ngIf="getItemsOfList(list.id).length > 0">
      <ion-label>{{ list.name }}</ion-label>
    </ion-item-divider>

    <ion-item-sliding *ngFor="let item of getItemsOfList(list.id)">
      <ion-item>
        {{ item.name }}
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="danger">
            <ion-icon
              slot="icon-only"
              name="trash"
              (click)="delete(list)">
            </ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-item-group>
</ion-list>

<ion-card color="light">

  

  <ion-card-content>

    <form
      (ngSubmit)="saveItemList(listForm.value)"
      [formGroup]="listForm">

        <ion-input
          label="Name"
          labelPlacement="floating"
          errorText="Name fehlt"
          formControlName="name"
          [required]="true"
          
        ></ion-input>

      <ion-button
        type="cancel"
        (click)="back()"
        fill="clear">Abbrechen
      </ion-button>

      <ion-button
        type="submit"
        fill="clear">Speichern
      </ion-button>


    </form>
    <form
      (ngSubmit)="saveItem(itemForm.value)"
      [formGroup]="itemForm">

        <ion-input
          label="Name"
          labelPlacement="floating"
          errorText="Name fehlt"
          formControlName="name"
          [required]="true"
          
        ></ion-input>


        <ion-select
          label="Kategorie"
          labelPlacement="floating"
          helperText="Wählen Sie eine Kategorie"
          formControlName="category"
          [required]="true"
        >
            <ion-select-option
              *ngFor="let category of categories"
              [value]="category.id">
              {{ category.name }}
            </ion-select-option>

        </ion-select>

      <ion-button
        type="cancel"
        (click)="back()"
        fill="clear">Abbrechen
      </ion-button>

      <ion-button
        type="submit"
        fill="clear">Speichern
      </ion-button>


    </form>


  </ion-card-content>

</ion-card>
